@media only screen and (max-width:768px){
    .grid{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 1px;
    }
    .grid img:hover {
        box-shadow: none;
    }
    .grid figcaption:hover {
        box-shadow: none;
    }
    header{
        display: flex;
        flex-flow: nowrap row;
    }
  
    .contact{
        display: grid;
    }
    .football{
        width: 10vw;
        height: 10vw;
        padding: 20px;
        margin-top: -4vw;
        margin-left: -20px;
    }
    .family{
        width: 50%;
        height: auto;
    }
    iframe{
        width: 50%;
        height: auto;
    }
}